.one{
    color: aliceblue;
    background-color: black;
}
.two{
    width: 100px;
    height: 100px;
    background-color: crimson;
}
.three{
    background-color: fuchsia;
    width: 300px;
}
.span1{
    background-color: darkmagenta;
    color: aliceblue;
}
.words{
    color: fuchsia;
}