@keyframes pulsation {
    0% {}

    100% {
        transform: scale(1.2);
        /*transform: translateX(-3%);*/
        color: rgb(255, 145, 56);
    }
}

body {
    font-family: 'Montserrat';
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(49, 44, 39);
    line-height: 1.5;
}

.body-dont-scrolling {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: auto;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 165, 92);
    height: 62px;
    border-radius: 60px;
    transition: all .4s;
}

.button:hover {
    background-color: rgb(255, 145, 56);
    cursor: pointer;
}

/*===================================================*/

.header__top {
    padding: 19px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    width: 174px;
    z-index: 3;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__link {
    position: relative;
    display: block;
    padding: 5px 0;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    width: 34px;
    height: 34px;
    left: -13px;
    top: -8px;
    background-color: rgb(255, 165, 92);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: all .4s;
}

.nav__link:hover:before {
    opacity: 1;
}

.burger-menu {
    display: none;
    width: 55px;
    height: 55px;
    background-color: rgb(195, 151, 199);
    border-radius: 50%;
    z-index: 3;
}

.burger-menu span,
.burger-menu span::before,
.burger-menu span::after {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(255, 165, 92);
    border-radius: 20px;
}

.burger-menu span {
    position: relative;
    transition: all .4s;
}

.burger-menu span::before,
.burger-menu span::after {
    content: '';
    position: absolute;
    transition: all .4s;
}

.burger-menu span::before {
    top: -11px;
}

.burger-menu span::after {
    bottom: -11px;
}

/*===================================================*/

.hero {
    margin-top: 50px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 140px;
    gap: 30px;
}

.hero__info span {
    color: rgb(177, 151, 179);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__info span::after {
    content: '';
    background-color: rgb(177, 151, 179);
    width: 4px;
    height: 4px;
    margin: 0px 10px;
    display: block;
    border-radius: 50%;
}

.hero__info {
    display: flex;
    margin-bottom: 20px;
}

.hero__content h1 {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
    margin-bottom: 30px;
}

.hero__content p {
    max-width: 360px;
}

.hero__content {
    max-width: 520px;
}

.hero__button {
    width: 360px;
    margin-top: 40px;
}

.header {
    background-image: url("../assets/decor/bg-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
}

.hero__img {
    margin-right: 250px;
    position: relative;
}

.hero__img-control {
    position: absolute;
    display: flex;
    gap: 10px;
    width: 112px;
    align-items: center;
    bottom: 50px;
    left: calc(100% - 39px);
}

.hero__content .hero__img-control {
    display: none;
}

.hero__img-control a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    background-color: rgb(255, 224, 203);
    border-radius: 50%;
    padding-left: 8%;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
}

.hero__img-control a::after {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid rgb(255, 165, 92);
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    border-radius: 50%;
    transition: all .4s;
    opacity: 0;
}

.hero__img-control a:hover::after {
    opacity: 1;
}

/*======================================*/

.footer {
    background-color: rgb(171, 130, 97);
    /*margin-top: 60px;*/
    color: rgb(255, 249, 244);
}

.footer__inner {
    display: grid;
    grid-template-columns: 1fr repeat(2, 1.1fr) auto;
    padding-top: 54px;
    padding-bottom: 60px;
    column-gap: 15px;
    row-gap: 40px;
}

.socials {
    display: flex;
    gap: 15px;
}

.footer__socials {
    margin-top: -30px;
}

.footer__socials img {
    margin-bottom: 9px;
}

.footer__socials p {
    margin-bottom: 20px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__loc .time {
    margin-bottom: 10px;
}

.footer__tel a {
    font-size: 24px;
    font-weight: 500;
    transition: all .4s;
}

.footer__tel a:hover {
    color: rgb(255, 165, 92);
}

.footer__tel-copy {
    margin-top: 47px;
    color: rgb(222, 197, 177);
}

.socials__inst path,
.socials__youtube path,
.socials__vk path {
    transition: all .4s;
}

.socials__inst:hover path,
.socials__youtube:hover path,
.socials__vk:hover path {
    fill: rgb(255, 165, 92);
}

.footer__info a {
    position: relative;
    display: block;
    padding: 5px 0;
    z-index: 1;
}

.footer__info a::before {
    content: '';
    position: absolute;
    width: 34px;
    height: 34px;
    left: -13px;
    top: -8px;
    background-color: rgb(255, 165, 92);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: all .4s;
}

.footer__info a:hover:before {
    opacity: 1;
}

/*============================================*/

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 53px;
    padding: 140px 0;
}

.about__img {
    position: relative;
    width: 100%;
    grid-row: 1/-1;
}

.about__img>img {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-position: 20% 25%;
    object-fit: cover;
}

.about__img-control {
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: rgba(149, 123, 151, 0.9);
    gap: 10px;
    padding: 15px 20px;
    width: 300px;
    bottom: 5%;
    left: 5%;
    color: rgb(255, 249, 244);
}

.about__img-control div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: rgb(255, 249, 244);
    width: 78px;
    height: 78px;
    position: relative;
}

.about__img-control div::after {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid rgb(206, 170, 208);
    border-radius: 50%;
    transition: all .4s;
    opacity: 0;
}

.about__img-control div:hover::after {
    opacity: 1;
}

.about__title {
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
}

.about__title-text {
    margin-bottom: 30px;
}

.about__text {
    margin-bottom: 40px;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.about__cell {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    background-color: rgb(255, 224, 203);
    padding: 29px 24px;

}

.about__cell div {
    border: 1px solid rgb(49, 44, 39);
    padding: 26px;
    border-radius: 50%;
}

/*==============================================*/

.modal-window {
    background-color: rgba(0, 0, 0, 0.363);
    position: fixed;
    inset: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.modal-window--open {
    opacity: 1;
    visibility: visible;
    transition: all .4s;
}

.modal {
    border-radius: 20px;
    background: rgb(255, 249, 244);
    padding: 133px 60px 60px 60px;
    position: relative;
}

.modal__title {
    font-family: Gabriola;
    font-size: 42px;
    font-weight: 400;
    line-height: 90%;
    width: 308px;
}

.modal__text {
    width: 283px;
    margin-bottom: 30px;
}

.modal img {
    position: absolute;
    top: -65px;
    left: 72px;
}

.cansel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.cansel path,
rect {
    transition: all .4s;
}

.cansel:hover path,
.cansel:hover rect {
    stroke: rgb(172, 144, 122);

}

.modal__input {
    border: 1px solid rgb(172, 144, 122);
    border-radius: 100px;
    padding: 20px 28px;
    width: 100%;
    margin-bottom: 10px;
    transition: all .4s;
    font-size: 16px;
}

.modal__input:hover {
    border: 1px solid rgb(255, 165, 92);
}

.modal__input::placeholder {
    transition: all .4s;
    font-size: 16px;
    color: rgb(172, 144, 122);
}

.modal__input:hover::placeholder {
    color: rgb(255, 165, 92);
}

.modal__input:focus::placeholder {
    opacity: 0;
}

.modal__input:focus {
    padding: 27px 28px 13px;
}

.modal__input:focus+span {
    opacity: 1;
}

.modal__form {
    width: 308px;
}

.modal__label {
    position: relative;
}

.modal__label span {
    position: absolute;
    top: -20px;
    left: 28px;
    color: rgb(172, 144, 122);
    font-size: 12px;
    opacity: 0;
    transition: all .4s;
}

/*==============================================*/

.programm__title {
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
    margin-bottom: 20px;
    grid-column: 1/-1;
}

.programm__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 30px;
}

.programm__tabs {
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
    justify-content: center;
}

.tab__control a {
    border-radius: 100px;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
    background: rgb(255, 249, 244);
    padding: 14px 30px;
    transition: all .4s;
    cursor: pointer;
}

.tab__control a:hover {
    background: rgb(255, 224, 203);
}

.tab__control--focus a {
    background: rgb(255, 224, 203);
    box-shadow: 0px 0px 0px 0px rgba(206, 195, 185, 0.3);
}

.tab__info {
    display: none;
}

.tab__info--show {
    display: flex;
}


/*===================================*/
.accordian {
    width: 100%;
}

.accordian__list-item {
    border: 1px solid rgb(255, 165, 92);
    border-radius: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.accordian__control {
    padding: 40px 30px 0px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.accordian__control:hover .accordian__control-icon path {
    fill: rgb(255, 249, 244);
}

.accordian__control:hover .accordian__control-icon {
    background-color: rgb(255, 165, 92);
    transform: rotateZ(90deg);
}

.accordian__control--focus .accordian__control-icon path {
    fill: rgb(255, 249, 244);
}

.accordian__control--focus .accordian__control-icon {
    background-color: rgb(255, 165, 92);
    transform: rotateZ(90deg);
}

.accordian__control-icon path {
    transition: all .4s;
}

.accordian__control-title {
    font-family: Gabriola;
    font-size: 42px;
    font-weight: 400;
    line-height: 90%;
}

.accordian__control-icon {
    width: 36px;
    height: 36px;
    border: 1.5px solid rgb(255, 165, 92);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .4s;
    flex-shrink: 0;
}

.accordian__content {
    padding: 10px 20px 0px 30px;
    display: flex;
    gap: 80px;
    max-height: 0px;
    overflow: hidden;
    transition: all .4s;
}

.accordian__content__col-title {
    color: rgb(206, 170, 208);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accordian__content__col__list__item img {
    width: 10px;
    height: 10px;
}

.accordian__content__col__list__item .img {
    border: 1px solid rgb(206, 170, 208);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.accordian__content__col__list__item {
    display: flex;
    gap: 8px;
    /*align-items: center;*/
    margin-bottom: 20px;
}

/*=============================================*/

.programm__bottom {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.programm__action {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
}

.programm__sale {
    grid-row: 1/-2;
    border-radius: 20px;
    background: rgb(255, 224, 203);
    padding: 40px 80px 40px 40px;
    font-size: 20px;
}

.programm__sale div {
    color: rgb(255, 165, 92);
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
    margin-left: 20%;
    transform-origin: 0 0;
    animation: pulsation .8s infinite alternate;
}

.programm__sale span {
    margin-left: 50%;
    font-size: 16px;
}

.programm__button {
    grid-column: 1/-1;
}

.programm__price {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(49, 44, 39);
    font-family: Gabriola;
    font-size: 32px;
    font-weight: 400;
    line-height: 90%;
}

.programm__price span {
    color: rgb(206, 170, 208);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
}

.programm__price--big {
    font-size: 50px;
    color: rgb(31, 23, 17);
}

.programm__img img {
    width: 100%;
}

/*=========================================*/

.galery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 32px;
    margin-top: 140px;
    row-gap: 40px;
}

.galery__img {
    max-width: 100%;
    justify-self: center;
}

.galery__info {
    display: flex;
    align-items: end;
    gap: 74px;
}

.galery__title {
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.galery__text-info p {
    max-width: 380px;
}

.swiper {
    width: 100%;
}

.galery__nav {
    display: flex;
    font-family: Gabriola;
    font-size: 42px;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: 0%;
    text-align: center;
    gap: 18px;
}

.galery-pagination {
    display: flex;
}

.galery-prev,
.galery-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1.5px solid rgb(255, 165, 92);
    border-radius: 100px;
    flex-shrink: 0;
    background: transparent;
    transition: all .4s;
}

.galery-prev:hover path,
.galery-next:hover path {
    fill: rgb(255, 249, 244);
}

.galery-prev path,
.galery-next path {
    transition: all .4s;
}

.galery-prev:hover,
.galery-next:hover {
    background-color: rgb(255, 165, 92);
    border: 1.5px solid rgb(255, 165, 92);
}

.galery-prev {
    border: 1.5px solid rgb(225, 217, 225);
    transform: rotateZ(-180deg);
}

.galery-prev path {
    fill: rgb(225, 217, 225);
}

.swiper {
    width: 100%;
    grid-column: 1/-1;
}

.swiper-slide img {
    border-radius: 20px;
    width: 100%;
}

/*======================================*/

.testimonials {
    margin-top: 146px;
}

.testimonials__title {
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
    letter-spacing: 0%;
}

.testimonials__info p {
    color: rgb(49, 44, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    max-width: 632px;
}

.testimonials__info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
}

.testimonials__nav {
    display: flex;
    gap: 30px;
}

.testimonials-prev,
.testimonials-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1.5px solid rgb(255, 165, 92);
    border-radius: 100px;
    flex-shrink: 0;
    background: transparent;
    transition: all .4s;
}

.testimonials-prev:hover path,
.testimonials-next:hover path {
    fill: rgb(255, 249, 244);
}

.testimonials-prev path,
.testimonials-next path {
    transition: all .4s;
}

.testimonials-prev:hover,
.testimonials-next:hover {
    background-color: rgb(255, 165, 92);
    border: 1.5px solid rgb(255, 165, 92);
}

.testimonials-prev {
    transform: rotateZ(-180deg);
}

.testimonials__swiper .testimonials__swiper-slide {
    display: flex;
    width: 624px;
    background-color: rgb(255, 224, 203);
    padding: 30px 30px 40px 30px;
    gap: 30px;
    border-radius: 20px;

}

.testimonials__swiper .testimonials__swiper-wrapper .testimonials__swiper-slide {
    transform: scale(.9);
    transition: all .3s;
    opacity: .5;
}

.testimonials__swiper .testimonials__swiper-wrapper .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.testimonials__swiper-slide__img img {
    border-radius: 20px;
}

.testimonials__swiper-slide__img h3 {
    color: rgb(31, 23, 17);
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.testimonials__inst {
    display: flex;
    gap: 5px;
    color: rgb(206, 170, 208);
    justify-content: center;
}

.testimonials__inst img {
    width: 24px;
}

.testimonials__swiper-slide__info h2 {
    color: rgb(31, 23, 17);
    font-family: Gabriola;
    font-size: 32px;
    line-height: 90%;
    max-width: 369px;
}

.testimonials__swiper-slide__info p {
    max-width: 369px;
}

.testimonials-swiper-scrollbar {
    height: 7px;
    background: rgb(255, 224, 203);
    margin-top: 42px;
    border-radius: 100px;
}

.testimonials-swiper-scrollbar .swiper-scrollbar-drag {
    background: rgb(255, 165, 92);
}

/*==================================*/

.contacts__inner {
    display: flex;
    align-items: center;
    gap: 83px;
}

.contacts__img img {
    width: 100%;
}

.contacts__img {
    position: relative;
    overflow: visible;
}

.contacts__img::before {
    content: '';
    background-image: url('../assets/decor/berries.png');
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    top: -10%;
}

.contacts__title::after {
    position: absolute;
    content: '';
    background-image: url('../assets/decor/berries-1.png');
    inset: 0;
    background-repeat: no-repeat;
    top: 25%;
    left: 77%;
}

.contacts__title {
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
    letter-spacing: 0%;
    margin-bottom: 8px;
    /*max-width: 420px;*/
    position: relative;
}

.contacts__info {
    margin-bottom: 40px;
    max-width: 420px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    max-width: 420px;
}

.contacts__input {
    border: 1px solid rgb(172, 144, 122);
    border-radius: 100px;
    padding: 20px 28px;
    width: 100%;
    margin-bottom: 10px;
    transition: all .4s;
    font-size: 16px;
    background: transparent;
}

.contacts__input:hover {
    border: 1px solid rgb(255, 165, 92);
}

.contacts__input::placeholder {
    transition: all .4s;
    font-size: 16px;
    color: rgb(172, 144, 122);
}

.contacts__input:hover::placeholder {
    color: rgb(255, 165, 92);
}

.contacts__input:focus::placeholder {
    opacity: 0;
}

.contacts__input:focus {
    padding: 27px 28px 13px;
}

.contacts__input:focus+span {
    opacity: 1;
    top: 9px;
}

.contacts__name span {
    position: absolute;
    top: 0px;
    left: 28px;
    color: rgb(172, 144, 122);
    font-size: 12px;
    opacity: 0;
    transition: all .4s;
}

.contacts__name {
    position: relative;
    display: flex;
}

.contacts__tel:focus+span {
    opacity: 1;
    top: 9px;
}

.contacts__tel span {
    position: absolute;
    top: 0px;
    left: 28px;
    color: rgb(172, 144, 122);
    font-size: 12px;
    opacity: 0;
    transition: all .4s;
}

.contacts__tel {
    position: relative;
    display: flex;
    max-width: 420px;
    margin-bottom: 15px;
}

.contacts {
    margin-top: 108px;
    background-image: url("../assets/decor/bg-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    padding-top: 140px;
    padding-bottom: 140px;
}

.contacts__check {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-bottom: 15px;
}

.contacts__check a {
    text-decoration: underline;
}

.contacts__check input {
    appearance: none;
    border: 1.5px solid rgb(172, 144, 122);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    display: flex;
    flex-shrink: 0;
    transition: all .4s;
    position: relative;
}

.contacts__check input:hover {
    border: 2px solid rgb(255, 165, 92);
    border-radius: 4px;
}

.contacts__check input:checked {
    border: 2px solid rgb(255, 165, 92);
    background-color: rgb(255, 165, 92);
}

.contacts__check input::before {
    content: '';
    inset: 0;
    background: url(../assets/icons/check.svg) no-repeat;
    background-position: 50% 50%;
    position: absolute;
    opacity: 0;
}

.contacts__check input:checked:before {
    opacity: 1;
}

/*=========================================*/

@media (max-width : 1000px) {
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 224, 203);
        position: fixed;
        transform: translateY(-100%);
        opacity: 0;
        overflow: hidden;
        transition: all .6s;
        inset: 0;
        z-index: 2;
    }

    .burger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body-opened-burger .nav {
        display: flex;
        justify-content: center;
        padding-top: 25vh;
        background-color: rgb(255, 224, 203);
        position: fixed;
        inset: 0;
        z-index: 2;
        font-size: 18px;
        transform: translateY(0%);
        opacity: 1;
        overflow: visible;

    }

    .nav__list {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .body-opened-burger .burger-menu span {
        background: transparent;
    }

    .body-opened-burger .burger-menu span::before {
        top: 0px;
        transform: rotateZ(45deg);
    }

    .body-opened-burger .burger-menu span::after {
        bottom: 0px;
        transform: rotateZ(-45deg);
    }

    .contacts__img {
        display: none;
    }

    .contacts__inner {
        justify-content: center;
    }
    .contacts__title{
        max-width: 420px;
    }
}

@media (max-width : 1200px) {
    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    .hero__img {
        margin-right: 0px;
    }

    .hero__inner {
        justify-content: space-around;
    }

    .footer__inner {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        justify-items: center;
    }

    .footer__tel {
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__img {
        grid-row: 1;
    }

    .about__grid {
        grid-column: 1/-1;
    }

    .programm__container {
        flex-direction: column;
    }

    .programm__title {
        text-align: center;
    }

    .programm__sale {
        grid-column: 1/-1;
        grid-row: inherit;
    }

    .programm__bottom {
        flex-direction: column;
    }

    .programm__action {
        grid-template-rows: repeat(3, auto);
    }

    .contacts__title::after {
        top: -57%;
    }
}

@media (max-width : 950px) {
    .hero__img {
        display: none;
    }

    .hero__content h1 {
        color: rgb(31, 23, 17);
        font-family: Gabriola;
        font-size: 74px;
        font-weight: 400;
        line-height: 82%;
        margin-bottom: 30px;
    }

    .hero__content p {
        max-width: 360px;
        margin: auto;
    }

    .hero__content {
        max-width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero__button {
        width: 360px;
        margin: 40px auto;
    }

    .hero__inner {
        justify-content: center;
        text-align: center;
    }

    .hero__info {
        margin: auto;
    }

    .hero__content .hero__img-control {
        display: flex;
        margin: 40px auto 0px;
        justify-content: center;
    }

    .footer__inner {
        grid-template-columns: auto;
        row-gap: 60px;
        text-align: center;
    }

    .footer__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials__info {
        display: block;
    }

    .testimonials__text p {
        margin-bottom: 20px;
    }

}

@media (max-width : 750px) {
    .about__inner {
        grid-template-columns: auto;
        justify-items: center;
    }

    .about__info {
        text-align: center;
    }

    .about__text {
        width: 400px;
        margin: auto;
    }

    .about__img {
        max-width: 400px;
        height: 400px;
    }

    .about__grid {
        grid-template-columns: auto;
        gap: 15px;
    }

    .about__cell {
        padding: 10px 10px;
    }

    .about__img-control {
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 0 20px 0 20px;
    }

    .tab__control {
        margin-bottom: 15px;
    }

}

@media (max-width : 600px) {
    .hero__content h1 {
        color: rgb(31, 23, 17);
        font-family: Gabriola;
        font-size: 12vw;
        font-weight: 400;
        line-height: 82%;
        margin-bottom: 30px;
    }

    .hero__content p {
        font-size: 4vw;
        max-width: 90vw;
        margin: auto;
    }

    .hero__button {
        width: 65vw;
        height: 13vw;
        margin: 40px auto;
        font-size: 4vw;
    }

    .hero__info span {
        margin: auto;
        font-size: 3vw;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
        font-size: 4vw;
    }

    .accordian__content {
        flex-direction: column;
    }

    .galery__info {
        flex-direction: column;
        align-items: center;

    }

    .galery__title {
        text-align: center;
    }

    .galery__text-info p {
        text-align: center;
    }

    .testimonials__swiper-slide {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .testimonials__swiper-slide__img:nth-child(0) {
        width: 20%;
    }
}

@media (max-width : 450px) {
    .about__text {
        width: auto;
        font-size: 4vw;
    }

    .about__img {
        max-width: 300px;
        height: 300px;
    }

    .about__grid {
        grid-template-columns: auto;
        gap: 15px;
    }

    .about__cell {
        width: auto;
        font-size: 4vw;
        gap: 5px;
    }

    .about__img-control {
        bottom: 0;
        left: 0;
        border-radius: 0 0 20px 20px;
    }

    .about__img-control {
        font-size: 4vw;
    }

    .about__title {
        font-size: 13vw;
    }

    .modal {
        padding: 80px 15px 30px;
        width: 90%;
    }

    .modal img {
        width: 50%;
    }

    .modal__title {
        font-size: 8vw;
    }

    .modal__text {
        font-size: 3vw;
    }

    .modal__input {
        width: 80%;
    }

    .modal__button {
        width: 80%;
    }

    .programm__title {
        font-size: 12vw;
    }

    .programm__info {
        font-size: 4vw;
        text-align: center;
    }

    .tab__control a {
        padding: 15px 20px;
        font-size: 3.5vw;
    }

    .accordian__control-title {
        font-size: 8vw;
    }

    .accordian__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordian__content__col-title {
        font-size: 3.5vw;
    }

    .accordian__content__col__list__item {
        font-size: 3.5vw;
    }

    .accordian__content__col-text {
        font-size: 3.5vw;
    }

    .programm__price {
        font-size: 7vw;
    }

    .programm__price--big {
        font-size: 11vw;
    }

    .programm__price span {
        font-size: 3vw;
    }

    .programm__sale {
        font-size: 5vw;
    }

    .programm__sale span {
        font-size: 3.5vw;
    }

    .programm__button .button {
        font-size: 4vw;
        padding: 15px;
    }

    .galery__title {
        font-size: 13vw;
    }

    .galery__text-info p {
        font-size: 4vw;
    }

    .testimonials__title {
        font-size: 13vw;
    }

    .testimonials__text p {
        font-size: 3.5vw;
    }

    .testimonials__swiper-slide__info h2 {
        font-size: 7vw;
    }

    .testimonials__swiper-slide__info p {
        font-size: 3.5vw;
    }
    .contacts__title{
        font-size: 12vw ;
    }
    .contacts__info{
        font-size: 3.5vw;
    }
    .contacts__input{
        width: 80%;
    }
    .contacts__check span{
        font-size: 3.5vw;
    }
    .contacts__title::after {
        display: none;
    }
    
}

@media (max-width : 1100px) {
    .galery__img {
        display: none;
    }

    .galery__inner {
        display: flex;
        flex-direction: column;
    }

    .galery__info {
        justify-content: space-between;
    }
}