.one{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
}

#two{
    text-decoration: line-through;
}

[first-atribute]{
    text-align: center;
}

[first-atribute="four"]{
    text-align: left;
    word-spacing: 30px; 
    text-decoration: overline wavy;
}

.five{
    letter-spacing: 5px;
    /*border-bottom: 2px double rgb(43, 41, 41);*/
    text-decoration: underline double;
}